/*@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);*/
@import url(../fonts/roboto/css.css);

body {
    font-family: 'Roboto', 'Cairo', sans-serif;
    font-size: 12px;
}


/*.card [class*="card-header-"] .card-icon,*/
/*.card [class*="card-header-"] .card-text ,*/
/*.card .card-header.card-header-icon .card-title,*/
/*.card .card-header.card-header-text .card-title{*/
/*float: right;*/
/*font-family: 'Cairo', sans-serif;*/

/*}*/
/*.card [class*="card-header-"] .card-icon,*/
/*.card [class*="card-header-"] .card-text,*/
/*.card .card-header.card-header-icon .card-title,*/
/*.card .card-header.card-header-text .card-title*/
/*{*/
/*margin-right: 15px;*/
/*}*/

/*a .material-icons{*/
/*color: white;*/
/*}*/
.sidebar{
    width: auto;
}
#groupName {

}

.permission-class .form-check, label {
    line-height: 0;
}

.card-header {
    padding: 2px 10px !important;
}

.group-permission-class .modal-body {
    padding-left: 27px !important;
}

.nav-link .user .photo {
    width: 34px;
    height: 34px;
    overflow: hidden;
    float: left;
    z-index: 5;
    margin-right: 11px;
    border-radius: 50%;
    margin-left: 23px;
    margin-top: -8px;
}

.nav-link .user .photo img {
    width: 100%;
}

.wizard-navigation .nav-item {
    width: 33.3333%;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 5px 8px !important
}

.bootstrap-select .dropdown-item.active {
    background: #F3F6F9;
    color:  #3699FF !important
}

.dropdown-menu {
    z-index: 99999;
}

.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item:hover,
.dropdown-menu a:active,
.dropdown-menu a:focus,
.dropdown-menu a:hover {
    /*box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(156, 39, 176, .4);*/
    box-shadow:none;
    background-color: #F3F6F9 !important;
    color: #3699FF !important;
}

.dropdown-item.selected .text,
dropdown-item.active .text
{    color:  #3699FF !important
}
.dropdown-item:hover .text {
    color: #3699FF !important;
}
textarea {
    resize: vertical; /* user can resize vertically, but width is fixed */
    min-height: 60px;
}

.loader {
    border: 3px solid #ff4d89;
    border-top: 3px solid #ffffff;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 2s linear infinite;

}

.loader-div {
    border: 3px solid #ff4d89;
    border-top: 3px solid #ffffff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;

}

.width-100 {
    width: 100% !important;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.font-bold {
    font-weight: bold
}

.sub-row {
    background-color: #fbfbfb !important;
}

#wizardGoalStyle .card, #wizardReport .card {

    border: 0px;
    border-radius: 0px;
    margin-bottom: 30px;
    background: #fff0;
    width: 100%;
    box-shadow: none;
}

#wizardIndicators .form-check {
    padding-top: 3px !important;
}

#wizardIndicators .card-header {
    padding: 0 !important;
}

.card-wizard .moving-tab-goals {
    position: absolute;
    text-align: center;
    padding: 12px;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-font-smoothing: subpixel-antialiased;
    top: -6px;
    left: 0px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
}

.card-wizard .moving-tab-project {
    position: absolute;
    text-align: center;
    padding: 12px 0px;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-font-smoothing: subpixel-antialiased;
    top: -6px;
    left: 0px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
}

.card-wizard[data-color="purple"] .moving-tab-goals {
    background-color: #9c27b0;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
}

.card-wizard[data-color="purple"] .moving-tab-project {
    background-color: #9c27b0;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
}

.card-wizard[data-color="green"] .moving-tab-goals {
    background-color: #4caf50;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
}

.card-wizard[data-color="green"] .moving-tab-project {
    background-color: #4caf50;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
}

.card-wizard[data-color="blue"] .moving-tab-goals {
    background-color: #00bcd4;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
}

.card-wizard[data-color="blue"] .moving-tab-project {
    background-color: #00bcd4;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
}

.card-wizard[data-color="orange"] .moving-tab-goals {
    background-color: #ff9800;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
}

.card-wizard[data-color="orange"] .moving-tab-project {
    background-color: #ff9800;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
}

.card-wizard[data-color="red"] .moving-tab-goals {
    background-color: #f44336;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4);
}

.card-wizard[data-color="red"] .moving-tab-project {
    background-color: #f44336;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4);
}

.card-wizard[data-color="rose"] .moving-tab-goals {
    background-color: #e91e63;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
}

.card-wizard[data-color="rose"] .moving-tab-project {
    background-color: #e91e63;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
}

@media screen and (min-width: 992px) {
    #wizardIndicators .modal-lg {
        max-width: 1110px;
    }
}

#wizardIndicators .modal-dialog {
    margin-top: 50px;
}

#wizardIndicators .modal-body {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100% - 500px);
    overflow-y: scroll;
}

#wizardGoalStyle .card-body, #wizardReport .card-body {
    /*max-height: 100px;*/
    height: 300px;
    margin-top: 20px;
}

.swal2-modal {
    border-top: 2px solid #e91e63;
    /*//rgb(255, 222, 101)*/
    border-bottom: 2px solid #e91e63;
}

.swal2-modal .swal2-content {
    color: #3C4858 !important;
}

.swal2-modal .swal2-styled {
    border: 0;
    border-radius: 3px;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    /* font-size: 17px; */
    font-weight: 500;
    margin: 0 5px;
    padding: 5px 25px;
}

#wizardGoalStyle .card-body, #wizardReport .card-body {
    position: relative;
    /*overflow: hidden;*/
}

.project-goal {
    text-align: justify;
    border-bottom: 3px double #DDDDDD;
    padding-bottom: 10px;
    padding-top: 10px;
}

.project-goal-hover:hover {
    background-color: #e9ffff;
}

.project-goal-indicator {
    border-bottom: 1px dashed #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
}

.project-goal-result {
    border-bottom: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*.btn.btn-sm,*/
/*.btn-group-sm > .btn,*/
/*.btn-group-sm .btn {*/
/*padding: 0.40625rem 0.5rem;*/
/*font-size: 0.6875rem;*/
/*line-height: 1;*/
/*border-radius: 0.2rem;*/
/*}*/

.width-30 {
    width: 30px !important;
}

.width-80 {
    width: 80px !important;
}

.width-89 {
    width: 98px !important;
}

.width-420 {
    width: 420px !important;
}

.width-340 {
    width: 340px !important;

}

.height-30 {
    height: 30px;
}

.border-1px-white {
    border: 1px solid #fff;
}

.main-goal-style {
    font-weight: bold;
    background-color: #fff7d0;
}

.sub-goal-style {
    background-color: #fffbe6;
}

.sub-goal-first-td-style {
    background-color: white;
    border-bottom: 1px solid #ffffff
}

.nav-pills .nav-item .nav-link {
    font-weight: 500;
    font-size: 12px;
}

.table thead tr th {
    font-size: 13px;
    font-weight: 600;
}

.form-check, label {
    color: #2d2d2d;
    font-size: 13px !important;
    font-weight: 400;
}

#contact_mobile::-webkit-inner-spin-button,
#contact_mobile::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#donor_mobile_no::-webkit-inner-spin-button,
#donor_mobile_no::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#donor_tel_no::-webkit-inner-spin-button,
#donor_tel_no::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#donor_fax_no::-webkit-inner-spin-button,
#donor_fax_no::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.bootstrap-select > .dropdown-toggle {
    padding-right: 3px;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder,
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder:active, .btn.btn-link, .btn.btn-default.btn-link {
    color: #848484;
}

#indicator .form-control {
    height: 24px;
}

#indicator .form-group {
    margin: 2px 0 0;
}

.background-color-indicator-activity {
    background-color: #e1ffda;
}

.background-color-result-activity {
    background-color: #f8fff6;
}

.bootstrap-select .btn {
    margin-top: 0;
    padding: 9px 9px;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.card-signup .card-header {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    padding: 20px 0;
    width: 100%;
    margin-bottom: 0px;
}

.modal-dialog .modal-body {
    padding-top: 0;
}

.bootstrap-select .btn {
    font-size: 12px;
    font-weight: bold;
    text-transform: none !important;
}

#formAddIndicatorValue p {
    margin-bottom: 0px;
}

.btn, .btn.btn-default {
    color: #1f1e1e;
    background-color: #eaeaea;
    border-color: #eaeaea;
}

.btn:hover, .btn.btn-default:hover {
    color: #1f1e1e;
    background-color: #eaeaea;
    border-color: #eaeaea;
}

.btn:focus, .btn.btn-default:focus {
    color: #1f1e1e;
    background-color: #eaeaea;
    border-color: #eaeaea;
}

.show > .btn.dropdown-toggle {
    color: #1f1e1e;
    background-color: #eaeaea;
    border-color: #eaeaea;
}

td > .bootstrap-select.form-control {
    border: none;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    background-color: #e6e6e6;
}

.timeline > li > .timeline-panel:after {
    border-right: 0 solid #e6e6e6;
}

.timeline h6 {
    margin: 0 !important;
}

.timeline > li > .timeline-panel {
    padding: 12px;
}

.card .card-body .col-form-label,
.card .card-body .label-on-right {
    /* text-align:left; */
}

.noti-not-seen {
    background-color: #ddd;

}

.noti-not-seen:hover {
    color: #333;
}

/*
.togglebutton label input[type=checkbox]:checked+.toggle{
    background-color: #0d961db3 !important;
}

.togglebutton label input[type=checkbox]:checked+.toggle:after{
    border-color: #0d961db3 !important;
}
*/

#wizardReport {
    box-shadow: none;
}

#modalReport .card-signup {
    margin: 0;
    padding: 0;
}

.noUi-horizontal {
    height: 10px;
}

.noUi-handle {
    width: 21px;
    height: 21px;
}

.noUi-tooltip {
    display: block;
    position: absolute;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    background: #fff;
    color: #000;
    padding: 5px;
    text-align: center;
    white-space: nowrap;
    margin-top: 25px;
}

.noUi-vertical .noUi-tooltip {
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    top: 50%;
    right: 120%;
}

/*#report-data .table thead tr th {*/
/*white-space: nowrap !important;*/
/*}*/


#report-data .table > thead > tr > td,
#report-data .table > tbody > tr > td,
#report-data .table > tfoot > tr > td {
    white-space: nowrap !important;
}

.progress {
    height: 6px;
    border-radius: 2px;
    margin-bottom: 0;
    margin-top: 5px;
    margin-right: 15px;
}

.completion .badge {
    padding: 3px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 3px !important;
}

.btn-group-sm .btn.btn-fab,
.btn.btn-fab.btn-sm,
.btn-group-sm > .btn.btn-fab,
.btn.btn-fab.btn-fab-mini,
.btn-group-sm .btn.btn-just-icon,
.btn.btn-just-icon.btn-sm,
.btn-group-sm > .btn.btn-just-icon,
.btn.btn-just-icon.btn-fab-mini {
    height: 25px;
    min-width: 25px;
    width: 25px;
}

.btn-group-sm .btn.btn-fab .material-icons,
.btn-group-sm .btn.btn-fab .fa,
.btn.btn-fab.btn-sm .material-icons,
.btn-group-sm > .btn.btn-fab .material-icons,
.btn.btn-fab.btn-sm .fa,
.btn-group-sm > .btn.btn-fab .fa,
.btn.btn-fab.btn-fab-mini .material-icons,
.btn.btn-fab.btn-fab-mini .fa,
.btn-group-sm .btn.btn-just-icon .material-icons,
.btn-group-sm .btn.btn-just-icon .fa,
.btn.btn-just-icon.btn-sm .material-icons,
.btn-group-sm > .btn.btn-just-icon .material-icons,
.btn.btn-just-icon.btn-sm .fa,
.btn-group-sm > .btn.btn-just-icon .fa,
.btn.btn-just-icon.btn-fab-mini .material-icons,
.btn.btn-just-icon.btn-fab-mini .fa {
    font-size: 15px;
    line-height: 25px;
}

.p_task {
    margin-bottom: 0.3rem;
    font-weight: 500;
    font-size: 14px;

}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.team-info {
    margin: 0 !important;
}

.team-info li img {
    width: 35px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
}

.progress-success {
    background-color: #409444 !important;
}

.progress-warning {
    background-color: #f3a51d !important;
}

.progress-danger {
    background-color: #ff3d52 !important;
}

.progress-info {
    background-color: #2196f3 !important;
}

.progress-primary {
    background-color: #9c27b0 !important;
}

.badge {
    border: 1px solid !important;
}

.badge.badge-info {
    border-color: #00bcd4 !important;
    color: #00bcd4 !important;
    background-color: #ffffff !important;
}

.badge.badge-primary {
    border-color: #9c27b0 !important;
    color: #9c27b0 !important;
    background-color: #ffffff !important;
}

.badge.badge-success {
    border-color: #4caf50 !important;
    color: #4caf50 !important;
    background-color: #ffffff !important;
}

.badge.badge-secondary {
    border-color: #6c757d !important;
    color: #6c757d !important;
    background-color: #ffffff !important;
}

.badge.badge-warning {
    border-color: #ff9800 !important;
    color: #ff9800 !important;
    background-color: #ffffff !important;
}

.badge.badge-danger {
    border-color: #f44336 !important;
    color: #f44336 !important;
    background-color: #ffffff !important;
}

.badge.badge-rose {
    border-color: #e91e63 !important;
    color: #e91e63 !important;
    background-color: #ffffff !important;
}

p.form-control-static {
    margin-top: 1.1rem;
}

.basic-list li span {
    float: right;
    font-weight: 400;
}

.basic-list li {
    font-weight: 500;
}

.basic-list li, .new_timeline li {
    padding-bottom: 15px;
}

.w_user img {
    height: 72px;
    float: left;
}

.w_user .wid-u-info {
    margin-left: 90px;
}

#addActivityIndicatorValueForm .fileinput .form-control {
    overflow: hidden;
    word-break: break-word;
}

#addActivityIndicatorValueForm .btn {
    margin: 0;
}

#modalBeneValue .modal-dialog {
    margin-top: 30px;
}

#modalBeneValue .modal-dialog .card {
    margin-bottom: 0;
    margin-top: 0;
}

#addActivityResultValueForm .fileinput .form-control {
    overflow: hidden;
    word-break: break-word;
}

#addActivityResultValueForm .btn {
    margin: 0;
}

#modalBeneValue .modal-dialog {
    margin-top: 30px;
}

#modalBeneValue .modal-dialog .card {
    margin-bottom: 0;
    margin-top: 0;
}

.card-signup .form-check {
    padding-top: 4px;
}

.card-stats .card-header .card-category:not([class*="text-"]) {
    color: #757575;
    font-size: 15px;
}

#formCopyStore .togglebutton label {
    color: #714335 !important;
}

.form-control {
    border: 1px solid #ccc !important;
    font-size: 12px !important;
    padding: 3px;
}

.form-control, .is-focused .form-control {
    background-image: linear-gradient(to top, #9c27b0 2px, rgba(156, 39, 176, 0) 2px),
    linear-gradient(to top, #d2d2d2 0px, rgba(210, 210, 210, 0) 0px) !important;
}

.card [class*=card-header-] .card-icon, .card [class*=card-header-] .card-text {
    padding: 10px;
}

.team-staff {
    border-radius: 50%;
    border: 2px solid #fff;
}

.btn.dash.btn-sm {
    padding: .40625rem 0.2rem !important;
}

.form-control.error:focus {
    border-bottom: 0 !important;
    background-image: linear-gradient(0deg, #f44336 2px, rgba(244, 67, 54, 0) 0), linear-gradient(0deg, #d2d2d2 1px, hsla(0, 0%, 82%, 0) 0) !important;
}

.form-control.error {
    border-bottom: 1px solid red !important;
}

label.error {
    color: red;
}

.card {
    margin-top: 0;
}

.width-100 {
    width: 100px !important;
}

.dropdown-item .text {
    color: #2d2d2d !important;
}

.fileinput .thumbnail > img {
    max-height: 100px !important;
    width: 100px !important;
}

.btn-file > input {

}

#project-history .table > thead > tr > th,
#project-history .table > tbody > tr > th,
#project-history .table > tfoot > tr > th,
#project-history .table > thead > tr > td,
#project-history .table > tbody > tr > td,
#project-history .table > tfoot > tr > td {
    white-space: nowrap !important;
}

.float-direction {
    float: right !important;
}

.text-direction {
    text-align: left !important;
}

.sidebar .logo a.logo-mini {
    width: 50px;
}

.sidebar .logo .simple-text {
    font-size: inherit;
}

.project_info_show {
    font-size: 14px;
    font-weight: bold;
}

.project_info_show span {
    padding: 7px 6px;
    font-size: 14px;
    font-weight: 400;

}

.project_info_show span.badge {
    padding: 3px;
    font-size: 13px;
    font-weight: 400;

}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    border-top: .3em solid;
    border-bottom: 0;
}


.nav-pills.nav-pills-rose .nav-item .nav-link.active, .nav-pills.nav-pills-rose .nav-item .nav-link.active:focus, .nav-pills.nav-pills-rose .nav-item .nav-link.active:hover {
    background-color: #e91e63 !important;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(233, 30, 99, .4) !important;
    color: #fff !important;
}

.card-wizard .nav.nav-pills .nav-item .nav-link {
    padding: 6px 2px !important;
    font-size: 11px !important;
}


.text-primary {
    background-color: #f3f6f9;
    color: #000000 !important;
    font-weight: 400;
}

.fileinput .thumbnail {
    padding: 5px !important;
    margin-top: 7px !important;
}

#modalActually_beneficiaries .nav-pills .nav-item .nav-link {
    background-color: rgba(200, 200, 200, .2);
}

.fileuploader {
    display: block;
    width: 100%;
    padding: 15px 15px 0 15px;
    margin: 15px 0 0 0;
    background: #f5f6fA;
    border-radius: 4px 4px 0 0;
    line-height: normal;
    text-align: left;
    overflow: hidden;
}

.dropdown-header {
    font-size: 13px;
    padding-top: .625rem;
    padding-bottom: .625rem;
    text-transform: none;
    color: #616161;
    line-height: 1.428571;
    font-weight: 600;
}

.create_by {
    padding: 7px 26px;
    text-align: right;
}

.col-form-label {
    text-align: left !important;
    padding-left: 15px !important;
}

input[disabled="disabled"] {
    background-color: #fafafa !important;
}

.mytooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/
}

.mytooltip .mytooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 8px 7px;
    margin-top: -40px;
    position: absolute;
    z-index: 9999999999999999999 !important;
    margin-left: -59px;
    border: 1px solid #f3f3f3;
}

.mytooltip:hover .mytooltiptext {
    visibility: visible;
}




.my-bg-primary {
    background-color: #f3f6f9 !important;
}

.my-bg-primary .text-white, .my-bg-primary .title, .my-bg-primary .material-icons {
    color: #232323 !important;
    font-weight: 600;

}

.tr-bg-primary {
    background-color: #fffbe5 !important;
    color: #232323 !important;
    font-weight: 600;
}

.tr-bg-primary .material-icons {
    color: #232323 !important;
}

.my-modal-lg {
    max-width: 70% !important;
}

label, .card-title, p {
    text-transform: capitalize;
}


.setting-dropdown {
    background-color: #22263d !important;
    min-width: 364px;
}

.setting-dropdown .setting-btn {
    margin: 4px;
    padding: 8px 0px;
    text-align: center;
    border: 2px solid #384068;
    display: inline-block;
    background-color: #242942;
    color: #78797e;
    font-weight: 600;
    border-radius: 15px;
    width: 100px !important;
    font-size: 15px;
}

.setting-dropdown .setting-btn:hover {
    background-color: #5d76a8;
    border: 2px solid #64676e;
    color: #ffffff;
}

.setting-dropdown .active.setting-btn {
    color: #fff;
    background-color: #5d76a8 !important;
    border: 2px solid #8eace7;
}

.setting-dropdown .active.setting-btn .setting-icons {
    color: #ffffff;
}


.setting-dropdown .setting-icons {
    font-size: 38px;
    color: #8db3ff;
    display: block;
}

.setting-dropdown .setting-btn:hover .setting-icons {
    color: #ffffff;
}


.my-tab .setting-dropdown {
    min-width: 100% !important;
    margin: 0px 10px;
    border-radius: 10px;
}

.my-tab .setting-dropdown .setting-btn {
    font-size: 13px !important;
    height: 90px;
}

.my-tab .my-tab-link {
    width: 130px !important;
}

.my-tab .my-tab-body {
    width: calc(100% - 150px);

}

.my-tab .setting-dropdown ul {
    padding: 0 10px !important;
}

body {
    background-color: #fff !important;
}

.navbar.navbar-transparent {
    background-color: #f9f9f9 !important;
}

.btn-setting-nav {
    color: #8db3ff !important;
    width: 40px !important;
    padding: 9px !important;
    margin: auto !important;
    cursor: pointer;
    border: none !important;
    background: none;
    height: 40px !important;
}

.btn-setting-nav:hover {
    background-color: #8db3ff !important;
    color: #fff !important;
}

.btn-lang-nav {
    color: #8db3ff !important;
    width: 70px !important;
    min-width: 70px !important;
    padding: 10px !important;
    border-radius: 3px;
}

.btn-lang-nav:hover {
    background-color: #8db3ff !important;
    color: #fff !important;
}

.btn-lang-nav a {
    padding: 0px !important;
}

.btn-notification-nav {
    width: 42px !important;
    min-width: 42px !important;

    padding: 9px 6px !important
}

.btn-user-nav {
    color: #8db3ff !important;
    min-width: 205px !important;
}

.btn-title-nav {
    color: #8db3ff !important;
}

.btn-title-nav .material-icons {
    font-size: 25px !important;
}

.my-tab .setting-dropdown .nav {
    display: block !important;
}

.result-objective {
    padding: 12px;
    /*border: 2px solid #22263d;*/
    background-color: #f3f6f9;
    border-radius: 7px;
    color: #535353;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.result-objective .tim-note {
    margin: 0px;
    padding: 0px;
    line-height: 25px;
}

.nav-pills.nav-pills-rose .nav-item .nav-link.active,
.nav-pills.nav-pills-rose .nav-item .nav-link.active:focus,
.nav-pills.nav-pills-rose .nav-item .nav-link.active:hover {
    background-color: #3699FF !important;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(233, 30, 99, .4) !important;
    color: #E1F0FF !important;
}

.btn.btn-rose {
    color: #3699FF;
    background-color: #E1F0FF;
    border-color: transparent;

}


.btn.btn-rose.focus, .btn.btn-rose:focus, .btn.btn-rose:hover {
    color: #FFFFFF;
    background-color: #3699FF;
    border-color: transparent;
}


.mytooltip.btn-setting-nav .mytooltiptext {
    margin-top: -69px;
}

.mytooltip:hover .material-icons {
    color: #FFFFFF !important;
}

.mytooltip.btn-setting-nav:hover {
    border-radius: 5px !important;
}

.align-r {
    text-align: right !important;
    padding-top: 5px !important;
}

.p-row {
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 400;
}

.navbar .collapse .navbar-nav .nav-item .nav-link {
    text-transform: inherit !important;
}

.badge {
    text-transform: capitalize;
}

#formResultAchievementType table .table-body ,#formResultAchievementTypePlane #table-body{
    max-height: 500px;
}
.mytooltip .material-icons {
    color: #8db3ff !important;

}

.header-row{
    background-color: #f0f8ff;
    border-radius: 7px;
    color: #535353;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.header-row-p{
    line-height: 55px;
    font-size: 14px;
    color: #8db3ff;
}
.navbar-right {
    float: right!important;
    margin-right: -15px;
}

.hasDatepicker{
    font-size: 15px !important;
}
.main-panel>.content{
    margin-top: 48px;
    padding: 0px 0px;
    min-height: calc(100vh - 105px)
}
.main-panel {
    width: calc(100% - 130px) !important;
}
.btn-fix-new{
    top:8px;
}
.btn-fix-new:active,.btn-fix-new:focus {
    border: 1px solid transparent;
}
.pagination>.page-item.active>a, .pagination>.page-item.active>a:focus, .pagination>.page-item.active>a:hover, .pagination>.page-item.active>span, .pagination>.page-item.active>span:focus, .pagination>.page-item.active>span:hover {
    background: #8db3ff  !important;
    border-color: #8db3ff ;
}
.mytooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/
}

.mytooltip .mytooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 8px 7px;
    margin-top: -40px;
    position: absolute;
    z-index: 9999999999999999999 !important;
    margin-left: -59px;
    border: 1px solid #f3f3f3;
}

.mytooltip:hover .mytooltiptext {
    visibility: visible;
}



.mytooltip .material-icons {
    color: #8db3ff !important;

}
.mytooltip:hover .material-icons {
    color: #FFFFFF !important;
}
.btn-setting-nav {
    color: #8db3ff !important;
    width: 40px !important;
    padding: 9px !important;
    margin: auto !important;
}

.btn-setting-nav:hover {
    background-color: #8db3ff !important;
    color: #fff !important;
}


.mytooltip.btn-setting-nav .mytooltiptext {
    margin-top: -69px;
}



.mytooltip.btn-setting-nav:hover {
    border-radius: 5px !important;
}
.btn-danger{
    background: #6c757d !important;
}
.btn-success{
    background: #2196f3 !important;
}
.btn-primary{
    background: #8db3ff !important;
}
.btn-default{
    background: #8db3ff !important;
}


.form-control, .is-focused .form-control {
    background-image: linear-gradient(to top, #2196f3 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 0px, rgba(210, 210, 210, 0) 0px) !important;
}